body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    background-color: #2c3e50;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

section {
    margin: auto;
    padding: 30px 20px;
    max-width: 900px;
}

h2 {
   border-bottom: 2px solid   #2c3e50;
   padding-bottom: 5px;
   margin-bottom: 15px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.project {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    background-color:  #2c3e50;
    color: white;
    padding : 20px;
}

